 <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- text logo on mobile view -->
        <a class="navbar-brand visible-xs" href="index.html">Lista Facil Ec</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{   path('home')  }}" 
            class=" {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">Home</a>
            </li>

            <li>
            <a href="{{ path('quienes_somos') }}"  class=" {% if app.request.attributes.get('_route') == 'quienes_somos' %}active{% endif %}" >Quienes somos?</a>
            </li>
            
            <li><a href="cart.html">Instituciones Educativas</a></li>
            <li><a href="checkout.html">Productos</a></li>
            <li><a href="checkout.html">Novedades</a></li>

            <li>
              <a href="{{  path('contactenos') }}"   
              class=" {% if app.request.attributes.get('_route') == 'contactenos' %}active{% endif %}"  >Contactenos</a>
            </li>


      </ul>
  </div>
</div>



