<header>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <!-- Logo. Use class "color" to add color to the text. -->
        <div class="logo">

          {% image '@AppSiteBundle/Resources/public/img/listafacil/logo2.png' %}
            <img src="{{ asset_url }}" alt="lista facil ecuador"  class="img-responsive" /> 
          {% endimage %}

        </div>
      </div>

      <div class="col-md-5 col-md-offset-3">

        <!-- Search form -->
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="search" placeholder="Search">
          </div>

          <button type="submit" class="btn btn-default">Buscar</button>
        </form>

        <div class="hlinks">
          <span>

            <!-- item details with price -->
            <a href="#cart" role="button" data-toggle="modal">0 Item(s) <i class="icon-shopping-cart"></i></a> -<span class="bold">$0</span>  

          </span>


          <!-- Login and Register link -->
          {% if app.user %}
              <span class="lr"><a href="{{  path('logout') }}" role="button" data-toggle="modal">Logout</a></span>
          {% else %}              
            <span class="lr"><a href="#login" role="button" data-toggle="modal">Ingresar</a> or <a href="#register" role="button" data-toggle="modal">Registrarse</a></span>
          {% endif %}


        </div>

      </div>

    </div>
  </div>

</header>



<!-- Cart Modal starts -->
<div id="cart" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Shopping Cart</h4>
      </div>
      <div class="modal-body">

        <table class="table table-striped tcart">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="single-item.html">HTC One</a></td>
              <td>2</td>
              <td>$250</td>
            </tr>
            <tr>
              <td><a href="single-item.html">Apple iPhone</a></td>
              <td>1</td>
              <td>$502</td>
            </tr>
            <tr>
              <td><a href="single-item.html">Galaxy Note</a></td>
              <td>4</td>
              <td>$1303</td>
            </tr>
            <tr>
              <th></th>
              <th>Total</th>
              <th>$2405</th>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <a href="index.html" class="btn">Continue Shopping</a>
        <a href="checkout.html" class="btn btn-danger">Checkout</a>
      </div>
    </div>
  </div>
</div>

<!-- Cart modal ends -->

<!-- Login Modal starts -->
<div id="login" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Login</h4>
      </div>
      <div class="modal-body">

        <div class="form">

          <form class="form-horizontal">   
            <div class="form-group">
              <label class="control-label col-md-3" for="username">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3" for="email">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" id="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
               <div class="checkbox inline">
                <label>
                 <input type="checkbox" id="inlineCheckbox1" value="agree"> Remember Password
               </label>
             </div>
           </div>
         </div> 

         <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-default">Login</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
        </div>
      </form>
    </div> 

  </div>
  <div class="modal-footer">
    <p>Dont have account? <a href="register.html">Register</a> here.</p>
  </div>
</div>
</div>
</div>



<div id="register" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Register</h4>
      </div>
      <div class="modal-body">
        <div class="form">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-3" for="name">Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="name">
              </div>
            </div>   
            <div class="form-group">
              <label class="control-label col-md-3" for="email">Email</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Drop Down</label>
              <div class="col-md-9">                               
                <select class="form-control">
                  <option>&nbsp;</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>  
              </div>
            </div>           
            <div class="form-group">
              <label class="control-label col-md-3" for="username1">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="username1">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3" for="password1">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" id="password1">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
               <div class="checkbox inline">
                <label>
                 <input type="checkbox" id="inlineCheckbox2" value="agree"> Agree with Terms and Conditions
               </label>
             </div>
           </div>
         </div> 

         <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-default">Register</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <p>Already have account? <a href="login.html">Login</a> here.</p>
  </div>
</div>
</div>
</div>